### Imports

In [ ]:
import numpy as np
from fdth.mean import mean_fdt
from fdth.fdt_default import fdt_default
from fdth.median_fdt import median_fdt
from fdth.mfv_default import mfv_default

# FDT Mean, Median, and Mode Testing
Este caderno demonstra o uso das funções FDT para calcular a média, a mediana e a moda a partir de tabelas de distribuição de frequência e séries de dados padrão.
Exploraremos diferentes exemplos para diversos casos de uso, incluindo cálculos de média, mediana e moda.

### FDT Mean Testing
Esta seção demonstra o cálculo da média usando a função `mean_fdt`.

In [ ]:
# Dados para o 1° teste
data_test1 = {
    'breaks': {'start': 0, 'end': 10, 'h': 2},
    'table': np.array([
        [0, 2],
        [2, 2],
        [4, 2],
        [6, 2],
        [8, 2]
    ])
}

# Executando o teste
print('Teste 1:', mean_fdt(data_test1))

In [ ]:
# Dados para o 2° teste
data_test2 = {
    'breaks': {'start': 0, 'end': 12, 'h': 3},
    'table': np.array([
        [0, 1],
        [3, 2],
        [6, 3],
        [9, 4]
    ])
}

# Executando o teste
print('Teste 2:', mean_fdt(data_test2))

In [ ]:
# Dados para o 3° teste
data_test3 = {
    'breaks': {'start': 0, 'end': 16, 'h': 4},
    'table': np.array([
        [0, 8],
        [4, 6],
        [8, 4],
        [12, 2]
    ])
}

# Executando o teste
print('Teste 3:', mean_fdt(data_test3))

In [ ]:
# Dados para o 4° teste
data_test4 = {
    'breaks': {'start': 0, 'end': 20, 'h': 5},
    'table': np.array([
        [0, 3],
        [5, 7],
        [10, 5],
        [15, 2]
    ])
}

# Executando o teste
print('Teste 4:', mean_fdt(data_test4))

### FDT Median Testing
Esta seção demonstra o cálculo da mediana a partir de tabelas de distribuição de frequência usando a função `median_fdt`.

In [ ]:

# Dados de exemplo
dados = [10, 12, 15, 20, 22, 25, 25, 30, 35, 40]

# Criar uma tabela de frequências agrupada (fdt)
tabela_fdt = fdt_default(dados)

# Visualizar o resultado
print(tabela_fdt['table'])

# Calcular a mediana
mediana = median_fdt(tabela_fdt)
print('A mediana é:', mediana)

### FDT Mode Testing
Esta seção demonstra o cálculo do modo usando a função `mfv_default`. Exploraremos vários casos com diferentes padrões de dados.

In [ ]:

# Conjunto de dados com uma única moda
data1 = [1, 2, 2, 3, 4]
print('A moda de data1 é:', mfv_default(data1))

In [ ]:

# Conjunto de dados com múltiplas modas
data2 = [1, 1, 2, 2, 3]
print('A moda de data2 é:', mfv_default(data2))

In [ ]:

# Conjunto de dados onde todos os valores são únicos
data3 = [1, 2, 3, 4, 5]
print('A moda de data3 é:', mfv_default(data3))

In [ ]:

# Conjunto de dados onde todos os valores são iguais
data4 = [2, 2, 2, 2, 2]
print('A moda de data4 é:', mfv_default(data4))

In [ ]:

# Conjunto de dados vazio
data5 = []
print('A moda de data5 é:', mfv_default(data5))

In [ ]:

# Conjunto de dados com valores não numéricos
data6 = ['a', 'b', 'b', 'c']
print('A moda de data6 é:', mfv_default(data6))